<h5>Criando Diretivas Customizadas</h5>

<p FundoAmarelo>
  Texto com fundo amarelo.
</p>
<button FundoAmarelo>botao amarelo</button>

<p HighlightMouse>
  Texto com highlight quando passo o mouse.
</p>

<p [highlight]="'#f0f'" [defaultColor]="'grey'">
  Texto com highlight com cores personalizadas.
</p>

<div *ngIf="mostrarCursos">
  Lista de cursos aqui.
</div>
<div *ngElse="mostrarCursos">
  Não existem cursos a serem listado.
</div>
<br>
<button (click)="onMostrarCursos()">Mostrar ou esconder cursos</button>