<h2>Data Form - reativo</h2>

<form  class="" [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="form-group row" >
    <div class="col-12">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" placeholder="digite o email" formControlName="email" [ngClass]=" aplicaCssErro('email')">
      <div class="invalid-tooltip">
        email invalido
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-12">
      <label for="nome">Nome</label>
      <input type="text" class="form-control" id="nome" placeholder="Nome"  formControlName="nome" [ngClass]=" aplicaCssErro('nome')">
      <div class="invalid-tooltip">
        Nome invalido
      </div>
    </div>
  </div>

  <div class="row form-group">
    <div class=" col-12">
      <label for="frameworks">Frameworks:  </label>
      <div class="row">
            <div class="col-2"
            *ngFor="let item of formulario.get('frameworks').controls; let i  = index" 
            >
              <div class="form-check form-check-inline " formArrayName="frameworks"  >
                <input type="checkbox" class="form-check-input" id="{{ i }}" formControlName="{{i}}" placeholder="Framework" >
                <label class="form-check-label" for="{{ i }}">{{ frameworks[i] }}</label>
              </div>
            </div>
        <div class="invalid-tooltip " 
          [ngClass]="{'d-block': formulario.get('frameworks').touched && formulario.get('frameworks').invalid}">
          selecione pelomenos 1
        </div>
      </div>
    </div>
  </div>


  <br>
  <button type="submit" class="btn btn-danger">Enviar</button>
  <button type="button"  class="btn" (click)="resetarForm()">cancelar</button>


</form>
<app-form-debug [form]="formulario"></app-form-debug> 